.avatar {
  vertical-align: middle;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 10px;
}

.left-side,
.right-side {
  min-height: 45vh;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .left-side,
  .right-side {
    min-height: 90vh;
  }
  img {
    width: 100%;
    height: auto;
  }
}

.links {
  font-family: "JetBrains Mono", monospace;
}
